div {
	font-family: Meiryo UI;
}

div#title p {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: -12px;
}

div#content {
	font-weight: normal;
	font-size: 14px;
	margin-top: 30px;
}

div#content table {
	width:300px;
	height:150px;
	border:0;
	cellspacing:0;
	margin-top: 100px;
	align:center;
}

div#content table td.B {
	font-weight: bold;text-align:right
}

div#content table tr {
	width:300px;
	height:20px;
}

div#content div#submit {
	font-size: 18px;
	margin-top: 20px;
	margin-left: 180px;
}